node_modules
dist
coverage
*.log
.git
.github
.vscode
.env
.env.local
.env.*.local
README.md
.prettierrc
.eslintrc.js
jest.config.ts
tsconfig.spec.json
**/*.spec.ts
**/*.test.ts
**/__tests__
**/__mocks__
